<html>
<head lang="en"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

        <title>Gridder - Image Expander</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:600,300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">


        
        <link href="css/style.css" rel="stylesheet" type="text/css">



        <script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-18697362-5', 'auto');
            ga('send', 'pageview');
        </script>

    </head>
    <body ng-app="gridderApp" style="" class="ng-scope" cz-shortcut-listen="true">

        <div ng-controller="gridderExample1Controller" class="ng-scope">

            

            <div class="container">
                <h2>Basic Example</h2>
                <p>This is the most basic form of using jQuery Gridder.</p>
            </div>

            <!-- Gridder navigation -->
            <ul class="gridder clearfix">
                <!-- ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) -->

<li class="gridder-list ng-scope" data-griddercontent="#content266" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Aatrox</span><br>
                            <span class="description ng-binding">the Darkin Blade</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content412" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Thresh</span><br>
                            <span class="description ng-binding">the Chain Warden</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content23" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Tryndamere_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Tryndamere</span><br>
                            <span class="description ng-binding">the Barbarian King</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content79" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gragas_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Gragas</span><br>
                            <span class="description ng-binding">the Rabble Rouser</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content136" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/AurelionSol_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Aurelion Sol</span><br>
                            <span class="description ng-binding">The Star Forger</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content69" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Cassiopeia_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Cassiopeia</span><br>
                            <span class="description ng-binding">the Serpent's Embrace</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content78" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Poppy_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Poppy</span><br>
                            <span class="description ng-binding">Keeper of the Hammer</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content13" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ryze_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Ryze</span><br>
                            <span class="description ng-binding">the Rogue Mage</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content14" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Sion_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Sion</span><br>
                            <span class="description ng-binding">The Undead Juggernaut</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content1" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Annie_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Annie</span><br>
                            <span class="description ng-binding">the Dark Child</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content202" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jhin_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Jhin</span><br>
                            <span class="description ng-binding">the Virtuoso</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) --><li class="gridder-list ng-scope" data-griddercontent="#content111" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Nautilus_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Nautilus</span><br>
                            <span class="description ng-binding">the Titan of the Depths</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) -->

<li class="gridder-list ng-scope" data-griddercontent="#content43" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Karma_0.jpg');">
                        <div class="overlay">
                            <span class="title ng-binding">Karma</span><br>
                            <span class="description ng-binding">the Enlightened One</span>
                        </div>
                    </div>
                </li><!-- end ngRepeat: champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) -->
               
            </ul>
            
            <!-- BASIC CONTENT BLOCS -->
            <!-- ngRepeat: champion in champions --><div id="content266" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg" alt="Aatrox">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Aatrox</h2>
                        <h3 class="subtitle ng-binding">the Darkin Blade</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Aatrox is a legendary warrior, one of only five that remain of an ancient race known as the Darkin. He wields his massive blade with grace and poise, slicing through legions in a style that is hypnotic to behold. With each foe felled, Aatrox's ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content412" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg" alt="Thresh">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Thresh</h2>
                        <h3 class="subtitle ng-binding">the Chain Warden</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">''The mind is a wondrous thing to tear apart.''<br><br>Sadistic and cunning, Thresh is a restless spirit who prides himself on tormenting mortals and breaking them with slow, excruciating inventiveness. His victims suffer far beyond the point of death,...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content23" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Tryndamere_0.jpg" alt="Tryndamere">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Tryndamere</h2>
                        <h3 class="subtitle ng-binding">the Barbarian King</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Fueled by his unbridled fury and rage, Tryndamere cuts his way through the tundra, mastering the art of battle by challenging the Freljord's greatest warriors. The wrathful barbarian seeks revenge on the one who decimated his clan and strikes down all ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content79" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gragas_0.jpg" alt="Gragas">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Gragas</h2>
                        <h3 class="subtitle ng-binding">the Rabble Rouser</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">The only thing more important to Gragas than fighting is drinking. His unquenchable thirst for stronger ale has led him in search of the most potent and unconventional ingredients to toss in his still. Impulsive and unpredictable, this rowdy carouser ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content136" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/AurelionSol_0.jpg" alt="Aurelion Sol">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Aurelion Sol</h2>
                        <h3 class="subtitle ng-binding">The Star Forger</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Aurelion Sol once graced the vast emptiness of the cosmos with celestial wonders of his own devising. Now, he is forced to wield his awesome power at the behest of a space-faring empire that tricked him into servitude. Desiring a return to his ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content69" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Cassiopeia_0.jpg" alt="Cassiopeia">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Cassiopeia</h2>
                        <h3 class="subtitle ng-binding">the Serpent's Embrace</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Cassiopeia is a terrifying creature - half woman, half snake - whose slightest glance brings death. The youngest daughter of one of Noxus' most influential families, she was once a beautiful and cunning temptress capable of manipulating the hardest ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content78" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Poppy_0.jpg" alt="Poppy">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Poppy</h2>
                        <h3 class="subtitle ng-binding">Keeper of the Hammer</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">''I'm no hero. Just a yordle with a hammer.''<br><br>Runeterra has no shortage of valiant champions, but few are as tenacious as Poppy. Bearing a hammer twice the length of her body, this determined yordle has spent untold years searching for the ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content13" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ryze_0.jpg" alt="Ryze">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Ryze</h2>
                        <h3 class="subtitle ng-binding">the Rogue Mage</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">There are many on Runeterra who are attracted to the study of magic or, in recent times, the emerging field of techmaturgy. For most, pursuit of such knowledge is formalized in a college or university. The halls of traditional study were never for ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content14" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Sion_0.jpg" alt="Sion">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Sion</h2>
                        <h3 class="subtitle ng-binding">The Undead Juggernaut</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">BLOOD.<br><br>SMELL IT.<br><br>WANT. ACHING. NEED!<br><br>CLOSE NOW. THEY COME.<br><br>NO CHAINS? FREE! KILL!<br><br>IN REACH. YES! DIE! DIE!<br><br>Gone. Too quick. No fight. More. I want... more.<br><br>A voice? Unfamiliar. I see him. The Grand ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content1" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Annie_0.jpg" alt="Annie">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Annie</h2>
                        <h3 class="subtitle ng-binding">the Dark Child</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">There have always been those within Noxus who did not agree with the evils perpetrated by the Noxian High Command. The High Command had just put down a coup attempt from the self-proclaimed Crown Prince Raschallion, and a crackdown on any form of ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content202" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jhin_0.jpg" alt="Jhin">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Jhin</h2>
                        <h3 class="subtitle ng-binding">the Virtuoso</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">''Art requires a certain...cruelty.''<br><br>Jhin is a meticulous criminal psychopath who believes murder is art. Once an Ionian prisoner, but freed by shadowy elements within Ionia's ruling council, the serial killer now works as their cabal's ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content111" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Nautilus_0.jpg" alt="Nautilus">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Nautilus</h2>
                        <h3 class="subtitle ng-binding">the Titan of the Depths</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Once, Nautilus was a sailor commissioned by the Institute of War to explore the uncharted reaches of the Guardian's Sea. This expedition took him deep into unknown waters where he and his crew found a vast section of black oozing liquid that none of ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions --><div id="content43" class="gridder-content ng-scope" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Karma_0.jpg" alt="Karma">
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title ng-binding">Karma</h2>
                        <h3 class="subtitle ng-binding">the Enlightened One</h3>
                        <hr>
                        <p ng-bind-html="champion.blurb | unsafe" class="ng-binding">Karma is a woman of indomitable will and unbound spiritual power. She is the soul of Ionia made manifest and an inspiring presence on the battlefield, shielding her allies and turning back her foes. A strong leader torn between tradition and ...</p>
                    </div>
                </div>
            </div><!-- end ngRepeat: champion in champions -->
            
            
        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <script src="js/jquery.gridder.min.js"></script>


       

        <script>
jQuery(document).ready(function ($) {
                
                
                
                // Call Gridder
   $('.gridder').gridderExpander({
                                scroll: true,
                                scrollOffset: 30,
                                scrollTo: "panel", // panel or listitem
                                animationSpeed: 400,
                                animationEasing: "easeInOutExpo",
                                showNav: true, // Show Navigation
                                nextText: "", // Next button text
                                prevText: "", // Previous button text
                                closeText: "", // Close button text
                                onStart: function () {
                                    //Gridder Inititialized
                                    console.log('On Gridder Initialized...');
                                },
                                onContent: function () {
                                    //Gridder Content Loaded
                                    console.log('On Gridder Expand...');
                                },
                                onClosed: function () {
                                    //Gridder Closed
                                    console.log('On Gridder Closed...');
                                }
    });

});
</script>

    
</body></html>