body {
    background-color: #000;
    background-size: cover;
    background-position: top center;
}

body, input, select, textarea {
		color: rgba(255, 255, 255, 0.65);
		
Pro", Helvetica, sans-serif
		font-size: 13pt;
		font-weight: 200;
		line-height: 1.65;
}

body, input, select, textarea {

    font-size: 12pt;
}

#estrutura {
    max-width: 68em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    opacity: 1;
    filter: none;
    -moz-transition: opacity 1s ease, -moz-filter 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
    -ms-transition: opacity 1s ease, -ms-filter 1s ease;
    transition: opacity 1s ease, filter 1s ease;
}

#descrição {
    padding: 2em 0 1em 0;
    margin: 0;
}

#descrição {
    text-align: center;
    padding: 2em 0 1em 0;
}

#descrição .avatar {
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
}

#descrição .avatar img {
    border-radius: 100%;
    display: block;
    width: 10em;
}

h1.font {
    font-size: 1.5em;
    color: #0000008a;
    font-weight: bold;
    text-align: left;
    font-family:  "Courier New", monospace; "Source Sans 
}
h2.font2 {
    font-size: 1.5em;
    color: #0000008a;
    font-weight: bold;	
    font-family:  "Courier New", monospace; "Source Sans 
    text-align: left;
}

.recuo { text-indent:4em }

h1, h2, h3 {
    color: #ffffff;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a,  {
    color: inherit;
    text-decoration: none;
}

h1 br, h2 br{
    display: none;
}

strong, b {
    color: #16869c;
    font-weight: 200;
}

a.prop {
    color: #171a21;
    text-decoration: none;
    
}
